*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100vh;
}
body {
  background-color: #9B9C99;
}
form {
  width: 30rem;
  margin: 20vh auto auto auto;
  padding: 4rem;
  background-image: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%);
  color: white;
}
h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.input-container {
  position: relative;
}
.input-container input, input[type="submit"] {
  margin-bottom: 1rem;
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  border-bottom: 0.1rem #423F8C solid;
}
input[type="submit"] {
  background-color: #423F8C;
  border: none;
}
.input-container input, input[type="submit"], .input-container label {
  color: white;
  padding: .8rem;
  font-size: 1.2rem;
}
.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.2rem;
  /* u cant touch it!! */
  pointer-events: none;
}
.input-container input:focus ~ label, .input-container input:valid ~ label {
  top: -1rem;
  left: 0;
  color: #423F8C;
  font-size: 0.8rem;
}