*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::root {
  font-size: 62.5%;
}

/* hoover selector - dropdown menu */

a {
  text-decoration: none;
  text-align: center;
}
section {
  display: inline-block;
  margin: 1rem 0 0 1rem;
  position: relative;
}
section > a {
  display: inline-block;
  padding: 2rem;
  font-size: 2rem;
  background-color: midnightblue;
  color: aliceblue;
}
div {
  display: none;
  position: absolute;
  background-color: aliceblue;
  width: 100%;
  z-index: 1;
  box-shadow: 0.2rem 0.3rem 0.4rem grey;
}
div a {
  color: midnightblue;
  display: block;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: 0.2rem;
  transition: all 0.5s ease-in-out;
}
div a:hover {
  color: aliceblue;
  background-color: midnightblue;
}
section:hover div {
  display: block;
}
section:hover > a {
  background-color: aliceblue;
  color: midnightblue;
}

/* tooltip for text */

article {
  text-align: center;
  margin-top: 5rem;
  position: relative;
}

.tooltip {
  position: absolute;
  display: inline-block;
  padding: 0.5rem;
  background-color: darkred;
  color: aliceblue;
  border-radius: 0.5rem;
  width: 200px;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
  z-index: 1;
}

.header {
  bottom: 100%;
  left: 50%;
  margin-left: -100px;
  margin-bottom: 10px;
}

.text {
  top: 100%;
  left: 50%;
  margin-left: -100px;
  margin-top: 10px;
}

.tooltip::after{
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  left: 50%;
  margin-left: -10px;
}

.header::after{
  border-color: darkred transparent transparent transparent;
  top: 100%;
}

.text::after{
  border-color: transparent transparent darkred transparent;
  bottom: 100%;
}

article:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* button style practice */
/* moving 3rd dimensionally */


button#rd {
  cursor: pointer;
  outline: none;
  display: block;
  border: none;
  font-size: 2rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: darkslateblue;
  color: aliceblue;
  box-shadow: 0 0.7rem 0 0 gray;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

button#rd:active {
  /* margin: 2.5rem auto 2rem auto; */
  transform: translateY(0.5rem);
  box-shadow: 0 0.2rem 0 0 gray;
}

button#rd:hover {
  background-color: rebeccapurple;
  color: darkturquoise;
}

/* button style practice */
/* opacity ripple */

button#magic {
  cursor: pointer;
  outline: none;
  display: block;
  border: none;
  font-size: 1.5rem;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: forestgreen;
  color: aqua;
  position: relative;
  overflow: hidden;
}

button#magic::after {
  position: absolute;
  content: "";
  background-color: white;
  padding-top: 150%;
  padding-left: 150%;
  display: block;
  margin-left: -2rem !important;
  margin-top: -100%;
  border-radius: 1rem;
  opacity: 0;
  transition: all 1s;
}

button#magic:active::after {
  padding: 0;
  margin: 0;
  opacity: 0.8;
  transition: 0s;
}


