*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  background-color: #9B9C99;
}
button {
  position: relative;
  margin: 10rem 0 0 10rem;
  border: none;
  font-size: 4rem;
  padding: 1rem 2rem;
  outline: none;
  background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%);
  color: beige;
  letter-spacing: .6rem;
  box-shadow: 6px 8px 15px 0px rgba(50, 50, 50, 0.76);
  overflow: hidden;
}
button span {
  position: absolute;
}
button span:nth-child(1) {
  top: 0;
  left: 0;
  height: 0.2rem;
  width: 100%;
  background-image: linear-gradient( to left, #FFF720, #3CD500);
  animation: line1 2s linear infinite;
}
button span:nth-child(2) {
  top: 0;
  right: 0;
  height: 100%;
  width: 0.2rem;
  transform: translateY(-100%);
  background-image: linear-gradient( to top, #FFF720, #3CD500);
  animation: line2 2s linear infinite;
  animation-delay: 1s;
}
button span:nth-child(3) {
  bottom: 0;
  right: 0;
  height: 0.2rem;
  width: 100%;
  transform: translateX(100%);
  background-image: linear-gradient( to right, #FFF720, #3CD500);
  animation: line3 2s linear infinite;
  animation-delay: 2s;
}
button span:nth-child(4) {
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0.2rem;
  transform: translateY(100%);
  background-image: linear-gradient( to top, #3CD500, #FFF720);
  animation: line4 2s linear infinite;
  animation-delay: 3s;
}
@keyframes line1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes line2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes line3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes line4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}