*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #565759;
  overflow: hidden;
  position: relative;
}
ul.floating {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
ul.floating li {
  position: absolute;
  list-style: none;
  height: 2rem;
  width: 2rem;
  background-image: linear-gradient(
    135deg,
    rgba(206, 159, 252, 0.45) 10%,
    rgba(115, 103, 240, 0.45) 100%
  );
  animation: floatingbox 25s linear infinite;
  top: 110vh;
}
ul.floating li:nth-child(1) {
  left: 25vw;
  width: 6rem;
  height: 6rem;
  animation-delay: 1s;
  animation-duration: 5s;
}
ul.floating li:nth-child(2) {
  left: 8vw;
  width: 12rem;
  height: 12rem;
  animation-delay: 2s;
  animation-duration: 10s;
}
ul.floating li:nth-child(3) {
  left: 12vw;
  width: 10rem;
  height: 10rem;
  animation-delay: 8s;
  animation-duration: 15s;
}
ul.floating li:nth-child(4) {
  left: 34vw;
  width: 17rem;
  height: 17rem;
  animation-delay: 4s;
  animation-duration: 13s;
}
ul.floating li:nth-child(5) {
  left: 42vw;
  width: 10rem;
  height: 10rem;
  animation-delay: 1s;
  animation-duration: 25s;
}
ul.floating li:nth-child(6) {
  left: 50vw;
  width: 6rem;
  height: 6rem;
  animation-delay: 14s;
  animation-duration: 18s;
}
ul.floating li:nth-child(7) {
  left: 67vw;
  width: 12rem;
  height: 12rem;
  animation-delay: 10s;
  animation-duration: 6s;
}
ul.floating li:nth-child(8) {
  left: 75vw;
  width: 9rem;
  height: 9rem;
  animation-delay: 8s;
  animation-duration: 19s;
}
ul.floating li:nth-child(9) {
  left: 80vw;
  width: 14rem;
  height: 14rem;
  animation-delay: 1s;
  animation-duration: 9s;
}
ul.floating li:nth-child(10) {
  left: 90vw;
  width: 9rem;
  height: 9rem;
  animation-delay: 11s;
  animation-duration: 20s;
}
@keyframes floatingbox {
  0% {
    transform:translateY(0) rotate(0);
    opacity: 0;
    border-radius: 0;
  }
  100% {
    transform:translateY(-130vh) rotate(1080deg);
    opacity: 1;
    border-radius: 50%;
  }
}

